.place {
  margin: 79px auto 0;
  max-width: 984px;
  min-height: min-content;
  display: grid;
  grid-template-columns: minmax(50px, 46.75%) fit-content(49.19%);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 48px 40px;
  grid-template-areas:
  'title link'
  'img p';
}

.place:first-child {
  margin-top: 91px;
}

.place:last-child {
  margin-bottom: 92px;
}



@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(50px, 47.41%) fit-content(49.14%);
    max-width: calc(100vw - 2*48px;)
    gap: 48px 32px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(50px, 47.22%) fit-content(48.89%);
    max-width: calc(100vw - 2*24px);
    gap: 48px 40px;
    margin-top: 72px;
    padding: 0 24px;
  }

  .place:first-child {
    margin-top: 88px;
  }

  .place:last-child {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    margin: 50px auto 0;
    padding: 0;
    display: block;
  }

  .place:first-child {
    margin-top: 64px;
  }

  .place:last-child {
    margin-bottom: 66px;
  }
}
