.footer {
  margin: 0 auto;
  padding: 78px 0 24px;
  max-width: calc(100vw - 2*48px);
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1281px) {
  .footer {
    width: 1184px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100vw - 2*24px);
    padding-top: 71px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: calc(100vw - 2*16px);
    padding-top: 64px;
    display: block;
  }
}
